.field_list {
    display: flex;
    flex-direction: column;
    width: 465px;
    color: black;
    margin: 0;
}

.new_field {
    display: flex;
    align-items: center;
    margin-top: 150px;
    text-align: center;
}

.new_field_btn {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    margin-left: 363px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.padding-10px{
    padding-top: 10px;
}

.background_color {
    background-color: white;
    border-radius: 10px;
}


.fields {
    text-align: center;
    margin: 0;
    padding: 0;
}
