.owner_total {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.owner_form {
    text-align: center;
    font-size: xx-large;
    padding-bottom: 10px;
}

.owner_input {
    font-size: x-large;
    size: initial;
    padding-bottom: 10px;
}
