.edit_main_component {
    border-radius: 20px;
    background-color: white;
    color: black;
    display: flex;
    width: 550px;
    text-align: center;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 0;
}

.main_component {
    display: flex;
    align-self: center;
    width: 11400px;
}

.title_edit {
    font-size: 30px;
}

.select_wight {
    width: 500px;
    color: black;
}

.group_input {
    border-radius: 7px;
    width: 500px;
    font-size: 30px;
}

.btn_save {
    font-size: 20px;
    background-color: #ff9966;
    color: black;
    width: 150px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
