.group_item {
    background-color: #ffeee6;
    /* font-size: xx-large; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    color: black;
    margin-top: 20px;
}

/* .text_group {
    text-align: left;
} */

.title_group {
    font-weight: bold;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .btn { */
    /* background-color: #ff9966; */
    /* border-radius: 10px; */
    /* padding: 10px; */
    /* text-align: center; */
/* } */

.button {
    margin: 20px 20px 40px 20px;
    font-size: 20px;
    background-color: #ff9966;
    color: black;
    border-radius: 10px !important;
    width: 150px;
}
