.group_item {
    background-color: #ffeee6;
    border-radius: 15px;
    color: black;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    padding: 10px;
}

.title_group {
    padding-top: 25px;
    font-weight: bold;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    margin: 20px 20px 40px 20px;
    font-size: 20px;
    background-color: #ff9966;
    color: black;
    width: 150px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.title_one_group {
    padding-top: 10px;
}

.list_item {
    text-align: left;
    align-items: flex-start;
    justify-content: space-around;
}

.main_component {
    padding: 10px;
    width: 1140px;
    align-self: center;
    justify-content: center;
}
