.field_list_element {
    margin: 20px 0;
}

.my_buttons {
    display: flex;
    justify-content: space-between;
}

.field_title {
    display: flex;
    align-self: center;
    padding-left: 12px;
}

.btn {
    border-radius: 0;
}
