.field_list_element {
    margin: 20px 0;
}

.my_buttons {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: stretch;
    min-width: 100%;
}

.field_title {
    padding-left: 12px;
    font-size: 20px;
}

.btn {
    border-radius: 0;
}

.field_btn {
    min-width: 33.3%;
}
