.field_form {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.field_form_btn {
    width: 30%;
    border-radius: 7px;
}

input {
    margin: 10px;
    border-radius: 7px;
}

button {
    border-radius: 7px;
}

.title_input {
    border-radius: 7px;
}

.checkbox_position{
    display: flex;
    flex-direction: row;
}