.forms_list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    font-size: 25px;
    background-color: #ffeee6;
    border-radius: 10px;
    padding: 5px;
}

.groups {
    display: flex;
    align-items: flex-start;
    text-align: left;
    justify-content: space-between;
}

.btn_submit {
    background-color: #ff9966;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
}

.forms {
    display: flex;
    align-items: flex-start;
    align-self: flex-start;
    flex-direction: row;
    padding-top: 5px;
}

.forms_title {
    text-align: left;
}
