.form_item {
    background-color: #ffeee6;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    color: black;
    margin-top: 20px;
}

.form_item_container {
    width: 1140px;
}

.text_form {
    text-align: left;
}

.title_form {
    font-weight: bold;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit_btn {
    margin: 20px 20px 40px 20px;
    font-size: 20px;
    background-color: #ff9966;
    color: black;
    border-radius: 10px !important;
    width: 150px;
}

.del_btn {
    margin: 20px 20px 40px 20px;
    font-size: 20px;
    background-color: #ff9966;
    color: black;
    border-radius: 10px !important;
    width: 150px;
}

.field_in_form {
    background-color: white;
    border-radius: 10px;
    width: 465px;
    color: black;
    text-align: center;
}

.field_options {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 25px;
    padding-bottom: 5px;
}
