@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
    scroll-behavior: smooth;
    font-family: 'Muli', sans-serif;
}

body {
    max-width: 1000px;
    margin: 10px auto auto;
    background-color: #fff;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
    margin-bottom: 40px;
}

.header-pages {
    font-weight: 500;
    padding: 10px;
}

.header-pages:hover {
    border: 1px #8E83BB solid;
    padding: 10px;
}


#header a {
    margin-left: 5px;
    color: black;
    text-decoration: none;
}

#logo {
    font-size: 6vh;
}

.divAnswers {
    margin-left: 230px;;
}

.tableAnswers {
    margin-top: 20px;
    margin-left: 110px;
}

.answersBtn {
    margin-left: 180px;
}

tr {
    background-color: black;
    color: white;
    min-width: 100px;
    border-bottom:1pt solid black;
}

td {
    height: 60px;
    background-color: rgb(227, 233, 230);
    color: black;
    min-width: 110px;
}

tr:hover {
    height: 70px;   
}

form.demoForm {
    margin-left: 10%;
    padding-left: 15%; 
}

 select {
    background-color: rgb(255, 255, 255);
    margin-left: 20px;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    height: 34px;
  }

  #demoFormSubmit{
      margin-top: 20px;
      margin-left: 22%;
  }
/*colors = #4C3633  #795A70  #8F86A6  #A3B5C1  #C8DCD2*/

input[type="number"] {
    background-color: transparent;
    border: 0;
    border-bottom: solid 1px black;
    width: 30%;
    padding-bottom: 4px;
    font-weight: lighter;
    letter-spacing: 2px;
    margin-bottom: 30px;
    margin-right: 20px;
    font-size: 20px;
}

input[type="text"] {
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px black inset;
    -webkit-text-fill-color: #fff !important;
}

.owner_form {
    width: 50%;
    padding: 10px;
    display: inline-block;
    text-align: center;
    font-size: xx-large;
}

.form_item {
    width: 50%;
    background-color: #E5F3F3;
    font-size: xx-large;
    display: inline-block !important;
}

.form_list_item {
    background-color: #BACEE3;
    border: 10px solid #E5F3F3;
    border-radius: 30px;
    font-size: xx-large;
    margin-bottom: 20px;
}

.btn_new {
    background-color: #F6FAF9;
    position: relative;
    left: 250px !important;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.form_title {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #8E83BB;
    text-decoration: none;
}

.new_form {
    width: 50%;
    padding: 10px;
    position: relative;
    left: 250px !important;
    text-align: left;
    font-size: xx-large;
}

.owner_input {
    font-size: x-large;
    size: initial;
}

.text_form {
    text-align: center;
}

.title_form {
    font-weight: bold;
}
