.form_list_item {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    font-size: xx-large;
    margin: 20px;
    padding: 5px 20px 0 20px;
    color: black;
    width: 600px;
}

.form_title {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #ff9966;
    text-decoration: none;
}

.all_forms {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
